@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen select-none bg-zinc-50 text-zinc-900 antialiased p-safe dark:bg-zinc-900 dark:text-zinc-50;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

/**
* Dark mode/light mode toggle
*/
body {
	@apply transition-colors duration-300 !bg-white !text-normal-black;
}

.trade-button {
	border-radius: 68px;
	background: linear-gradient(180deg, #717171 0%, #000 100%);
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#__next {
	height: 100vh;
}

.splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	z-index: 9999;
}
